.authContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.authForm {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  border-radius: 0.625rem;
  width: 18.75rem;
  background-color: #000000;
}

.authHeading {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #ffffff;
}

.authLabel {
  margin-bottom: 0.3125rem;
  font-weight: bold;
  color: #ffffff;
}

.authInput {
  padding: 0.5rem;
  margin-bottom: 0.9375rem;
  border-radius: 0.25rem;
  border: 1px solid #96969f;
  background-color: #ffffff;
}

.authButton {
  padding: 0.625rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: bold;
}

.authButton.register {
  background-color: #28a745;
}

.authLink {
  margin-top: 0.625rem;
  color: #ffffff;
  text-align: center;
}

.authLink a {
  color: #007bff;
  text-decoration: underline;
}