/* src/pages/Auth.module.css */
.authContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.authForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  background-color: #000000;
}

.authHeading {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.authLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

.authInput {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #96969f;
  background-color: #ffffff;
}

.authButton {
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.authButton.register {
  background-color: #28a745;
}

.authLink {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}

.authLink a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}